html, body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(76, 46, 5);
}

/*========================
            Header
=========================*/

header .header-block {
    color: white;
    text-align: center;
    height: 70px;
    line-height: 4.5em;
}

/*========================
            Nav
=========================*/

nav .shortcuts {
    display: block;
    background-color: rgb(175, 84, 10);
    max-width: 67%;
    border-radius: 67px;
    margin: 0 auto;
}

nav .shortcuts2 {
    display: flex;
    gap: 1em auto;
    justify-content: center;
}

nav .s-button a {
    display: block;
    margin: 0.5em;
    min-width: 6.5em;
    min-height: 0.2em;
    font-family: "ubuntu";
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: none;
    background-color: #b47d5b;
    color: rgba(0, 0, 0, 0.74);
    padding: 6px;
    border-radius: 30px;
    border: 5px solid rgba(255, 255, 255, 0.096);
    text-align: center;
    align-items: center;
}

.duotone-text {
  
}


@media (max-width: 1000px) {
    nav .s-button a {
        font-size: 1em;
        padding: 8px;
        min-width: 6em;
    }
}

nav .s-button a:hover {
    color: rgb(255, 241, 214);
    transition: all 0.44s ease;
    background-color: rgb(175, 84, 10);
}

/*========================
            Body
=========================*/

body .about {
    display: block;
    justify-content: center;
    background-color: rgb(247, 227, 188);
    border: 5px solid #fff9c0b9;
    width: 67%;
    margin: 18px auto;
    border-radius: 10px;
    text-align: center;
    padding: 2em;
    color: rgb(76, 46, 5);
}